body{
            
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url("/images/farfaraway.png");
    background-size: cover; /* Ajusta la imagen para cubrir toda la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-container {
    padding: 1rem;
    width: 1000px;
    height: 600px;
    background-color: #414141;
    
}